In [1]:
cd "E:\Users\HP\Desktop\aalix clg\explore\Python Developer\"

E:\Users\HP\Desktop\aalix clg\explore\Python Developer

![requirements](img\req.png)

# Section 1
---

## Python Introduction


<div style="color: red;">
<em><b>Let's recaptulate everything...</b></em>
</div>

<style>
    .cursive {
        font-family: cursive;
    }

    .blue {
        color: blue;
    }
</style>
python -> is just the documentaion to give certain instruction to the machine. 
People usually work with __"Cpython"__ but there are several other compiler/interpreters to use python in different languages these are as follows:
> 1. Jython::<span class="cursive blue">Python translator written in the java</span>
> 2. ironPython:: <span class="cursive blue">Python translator written in the .Net</span>

<style>
a {
    color: silver;
}
a:hover {
    color: silver;
    text-decoration: None;
}
</style>
A python script file follows the sequence written below to performe a certain task.
> ``` 
> .py >> interpreter >> byte code >> Cpython VM >> 0/1 >> transistor 


Python 
[downlad package](https://www.python.org/downloads/) includes __(interpreter && Cpython VM)__

<style>
a {
    color: silver;
}
a:hover {
    color: silver;
    text-decoration: None;
}
</style>
Internet provid different online open source platforms to perform basics python coding 
Some of these platforms are:
- [Repl](https://replit.com)
- [Collab](https://research.google.com/colaboratory/)

## Python Basics

The simplest data i/o

In [6]:
name = input("pls enter your name in small letters: ")
print(f"Hello, {name}")

Hello, Abhishek

### Python 2 vs Python 3

Python2 -> outdated version some places 2.7 avail in very lessss  
Python3 -> current verion of python avail everywhere (Community support)

### Datatypes

---

In programming, data type is an important concept.


Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

- Text type
- Numerical type
- Sequence
- Map type -> dictionaries

Since Python is on object oriented programming it supports oops

Before begin with datatypes

we should know about typecasting

#### typecasting

---

it means changing one datatype into other

Typecasting is important as we cann't do operation with different datatypes

In [7]:
# For example
print("2"+2)

TypeError: can only concatenate str (not "int") to str

we can see type of any thing in python using type() function

In [8]:
a = 22
print(type(a))

<class 'int'>

#### Text type
---

##### String

---

string is that literal(expression) which python will see as statement
We write string with either single quote or double quote
If we don't write a string inside quotes then python will interpret it as variable or statement

In [9]:
"print(222)"

'print(222)'

In [10]:
print(222)

222

In [11]:
Abhishek

NameError: name 'Abhishek' is not defined

In [12]:
"Abhishek"

'Abhishek'

In [13]:
"4+4"

'4+4'

We can typecaste anything to sring using  

str() function.

In [14]:
# For example
num1 = str(241)
num2 = "Ahejj"
str(num1)
str(num2)
print(num1+num2)

241Ahejj

#### Numerical Type
---

##### Integer(int)

Integer refers to any integer  

we can typecaste anything which is a number can be done by int()

__NOTE:__ only non decimal expression known as integer

In [15]:
a = "44"
print(type(a))
print(type(int(a)))

<class 'str'>
<class 'int'>

##### Float

---

all decimals value are known as float in python

float() function is use to typecaste a float

In [16]:
type(3.14)

float

In [17]:
# for example
a = "3.14594"
print(type(a))
print(type(float(a)))

<class 'str'>
<class 'float'>

#### Sequence

---

sequence datatype is use to cantain different datas  
thease are total of 3 types for basic:
> 1. List
> 2. tuple
> 3. array

for advance python we use ndarray which is more faster than lists and tuple

##### List

---

list is a mutable object in python  
**Mutable:** it means that we can modify it's values after creating  

list can containt any datatype and we can modify it.

to create a list object we use **[]** brackets.  
and for typecasting a list we use **list()**

In [26]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2 = list((1, 2, 3, 4, 5, 6, 7, 8, 9, 10))
list3 = [
         [1, 2, 3],
         [4, 5, 6],
         [7, 8, 9],
         10
]

In [27]:
print(list1, type(list1))
print(list2, type(list1))
print(list3, type(list1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] <class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] <class 'list'>
[[1, 2, 3], [4, 5, 6], [7, 8, 9], 10] <class 'list'>

<span style="font-size: 20px">adding element to an existing list</span>

we can add elements to an existing list with the help of **append** method

In [28]:
list4 = [] # an empty list
list4.append(2)
print(list4, type(list4))

[2] <class 'list'>

Just like append method there are more list methods which you may see from [W3school](https://www.w3schools.com/python/python_lists.asp)

<span style="font-size: 22.5px;">Accessing items from a list</span>

let's learn how to access any element from a list

we access any element by writing index of element in square braces along the list

Index of an element is id of the element.  

We read it as 
![slicing](https://cdn.programiz.com/sites/tutorial2program/files/python-list-index.png)  


here,  
a = ["p", "r", "o", "b", "e"] is given...

-ve index is use to access last item

In [29]:
a = ["p", "y", "t", "h", "o", "n"]
#     0    1    2    3    4    5
#    -6   -5   -4   -3   -2    -1

In [30]:
# extracting single elements
a = ["p","q","r","s","t"]
print(a[0])
print(a[2])
print(a[4])
# neagative indexes
print(a[-5])
print(a[-1])

p
r
t
p
t

In [31]:
# extracting a group of elements
print(a[0:3])
print(a[:2])

['p', 'q', 'r']
['p', 'q']

##### Tuple
---

Tuple is a mutable object in python  
**Immutable:** it means that we can __not__ modify it's values after creating  

list can containt any datatype and we can modify it.

to create a list object we use **()** brackets.  
and for typecasting a list we use **tuple()**

In [32]:
tuple1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
tuple2 = tuple(range(1, 11))
tuple3 = (
         (1, 2, 3),
         (4, 5, 6),
         (7, 8, 9),
         10
)

In [33]:
print(tuple1, type(tuple1))
print(tuple2, type(tuple1))
print(tuple3, type(tuple1))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10) <class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10) <class 'tuple'>
((1, 2, 3), (4, 5, 6), (7, 8, 9), 10) <class 'tuple'>

##### Array

An array is a collection of homogeneous data types

###### <h1> Developer Fundamentals - 1</h1>
---

___Don't be a dictionary___ A programer never try to memories everything.  
Practice :-> improve at every steps

#### Maps
---

##### Dictionaries
---

Dictionaries are <span style="font-family: cursive;">unordered key:value pairs</span>  
dictionaries are semi mutable. i.e. values are mutable but keys are immutable.  
Values are acces through thier corresponding keys.

Dicts do not allow duplicate keys.

In [39]:
Dict = {"name": "Abhishek", "age": 18}

In [43]:
type(Dict)

dict

<span style="font-size: 20px">Accesing items</span>
---

In [40]:
Dict["age"]

18

In [44]:
Dict.get("name")

'Abhishek'

Keys of a dictionary can be access with the help of ```keys()``` function

In [45]:
Dict.keys()

dict_keys(['name', 'age'])

Values of a dictionary can be access with the help of ```values()``` function

In [46]:
Dict.values()

dict_values(['Abhishek', 18])

key:value pairs of a dictionary can be access as a 1X2 tuple by ```items()```

In [47]:
Dict.items()

dict_items([('name', 'Abhishek'), ('age', 18)])

The value can be change by the following statement

In [48]:
Dict["age"] = 19

In [49]:
Dict["age"]

19

or using the ```update()``` function

In [54]:
Dict.update({"age": 18})

In [56]:
Dict["age"]

18

```in``` operator checks if a key present in dictionary or not

In [50]:
"name" in Dict

True

Any new pair can be add just like changing the values

In [57]:
Dict["College"] = "IMS Engineering College, Gaziyabad"
Dict.update({"Course":"B tech CSE"})

In [58]:
for i, j in Dict.items():
    print(f"{i} -> {j}")

name -> Abhishek
age -> 18
College -> IMS Engineering College, Gaziyabad
Course -> B tech CSE

<span style="font-size: 20px">Dropping items</span>
---

Dictionaries have the following methods:  
pop -> specific  
popitem -> last  
del name[key] -> same as pop  
del name -> delete dict  
clear -> returns empty dictionary

### Breaking the flow

---

<span style="font-size: 22.5px;">Ternary operator</span>

Shortcut of if, else-if ternary operator is known as conditional expression.

In [79]:
age = int(input())

In [80]:
drive = "allowed" if age >= 18 else "not allowed!!"

In [81]:
drive

'allowed'

<span style="font-size: 22.5px;">Short Circuiting</span>

while  
using `or` oprator -> first true => other expressions ignored and returns true  
using `and` oprator -> first false => other expressions ignored and return false

<span style="font-size: 22.5px;">enumerate()</span>

enumerate -> returns a tuple (index, item) of itterable  
<span style="color: violet; font-family: cursive">Ex.</span>

In [3]:
for i, itt in enumerate("Hello"):
    print(f"{i} -> {itt}")

0 -> H
1 -> e
2 -> l
3 -> l
4 -> o

### Functions

Functions are block of code which is reuseable.  
it includes a header and a body
```
def func_name(): -> hearder
    do something -> body
```

name() -> some work will done when it is called => callable  
name   -> it is a value => callable

return keyword return the value and exit the funcn scope

Parameters are written as following order  
```actual_parms, *args, default_params, **kwargs```

<span style="font-size: 30px;">walrus operator</span>

assign a part of statement in a variable  
<span style="color: violet; font-family: cursive">Ex.</span>

In [10]:
a = list(range(10))

In [15]:
if (b := len(a)) == 10:
    print(b*100)

1000